html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

 .index-container-left{
     width: 100%;
     height:100px;
     background-color: darkslategray;
     float:left;
     margin-top: -20px;
     color:white;
 }
.index-container-left li a, .index-container-left li a:hover, .index-container-left li a:visited  {
    color:white;
    background-color: darkslategrey;
}

.index-container-right{
    width: 100%;
    min-height: 550px;
    background-color: lightgrey;
    float:left;
    margin-top: -15px;
    padding-left: 15px;
    padding-right: 15px;
}
.index-menu-avatar{
    float:right;
    margin-top:5px;
    margin-right:10px;
    border-radius: 35px;
    width: 70px;
    height: 70px;
    background-color: transparent;
}

.person-title{
    color: darkred;
    font-size: 17px;
    font-weight: bolder;
    width:100px;
    float: left;
}
.person-description{
    font-size: 20px;
    font-weight: bold;
    color:darkolivegreen;
    margin-left: 50px;
}
.person-box{
    width: 550px;
    height: 250px;
    border-radius: 50px;
    float:left;
    padding-left:150px;
    padding-top: 50px;
}
.person-edit{
    display: block;
    width: 90%;
    margin-top:70px;
}

